<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}InvirtusTest!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="mapid"></div>

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script>
                window.onload = function() {

                    $.ajax({
                        url: "{{ path('locations',{'id': id}) }}",
                        method:  "GET",
                        contentType: "application/json",
                        dataType: 'json',
                        success: function(locations){
                            var coordinates = [];
                            locations.map(function (location) {
                                console.log(location);
                                generateMarker(location);
                                var coordinate = [location.latitude,location.longitude]
                                coordinates.push(coordinate);
                            });
                            generatePolyline(coordinates)
                        }
                    });

                    var mymap = L.map('mapid').setView([47.224377, -1.631137], 11);
                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoieW5kb3VyIiwiYSI6ImNrMzM3d2h0ajBwamozbm8yMmptdG1zYmIifQ.T9p49-kSpmBPGYB9-rotGA\n'
                    }).addTo(mymap);

                    function generateMarker(location) {
                        var marker = L.marker([location.latitude,location.longitude]).addTo(mymap);
                        marker.bindPopup(location.datetime);

                    }

                    function generatePolyline(coordinates) {
                        L.polyline(coordinates).addTo(mymap);
                    }
                };


            </script>

        {% endblock %}
    </body>
</html>
